<?xml version="1.0"?>
<config>
   <modules>
      <Metrof_FBConnect>
         <version>1.2.1</version>
         <depends>
            <Mage_Customer />
         </depends>
      </Metrof_FBConnect>
   </modules>

   <global>
   <blocks>
	<fbconnect><class>Metrof_FBConnect_Block</class></fbconnect>
   </blocks>

	<resources>
		<fbconnect_setup>
			<setup>
				<module>Metrof_FBConnect</module>
			</setup>
			<connection>
				<use>core_setup</use>
			</connection>
		</fbconnect_setup>
		<fbconnect_read>
			<connection>
				<use>core_read</use>
			</connection>
		</fbconnect_read>
		<fbconnect_write>
			<connection>
				<use>core_write</use>
			</connection>
		</fbconnect_write>
	</resources>
    <models>
		<fbconnect>
			<class>Metrof_FBConnect_Model</class>
			<resourceModel>fbconnect_entity</resourceModel>
		</fbconnect>
		<fbconnect_entity>
			<class>Metrof_FBConnect_Model_Entity</class>
            <entities>
				<fbuid_link>
					<table>fb_uid_link</table>
				</fbuid_link>
			</entities>
		</fbconnect_entity>

         <customer>
           <rewrite>
             <customer>Metrof_FBConnect_Model_Customer</customer>
           </rewrite>
         </customer>

		<core>
			<rewrite>
				<email_template>Metrof_FBConnect_Model_FbEmail</email_template>
			</rewrite>
		</core>
    </models>
    <helpers>
        <fbconnect>
            <class>Metrof_FBConnect_Helper</class>
        </fbconnect>
    </helpers>
    </global>

    <frontend>
		<!-- this is needed because the customer account
		page is always secure, so our FBC needs to be
		secure as well because we forward between the two -->
        <secure_url>
            <fbconnect>/fbc/</fbconnect>
        </secure_url>

     <layout>
          <updates>
              <metrof_fbc>
                  <file>metrof_fbc.xml</file>
              </metrof_fbc>
          </updates>
     </layout>
        <events>
        </events>

        <routers>
            <fbconnect>
                <use>standard</use>
                <args>
					<module>Metrof_FBConnect</module>
                    <frontName>fbc</frontName>
                </args>
            </fbconnect>
        </routers>
        <translate>
            <modules>
                <Mage_Contacts>
                    <files>
                        <default>Metrof_FBConnect.csv</default>
                    </files>
                </Mage_Contacts>
            </modules>
        </translate>
    </frontend>

	<default>
		<metrof_fbc>
			<fbconnect>
				<apikey>API KEY FROM FACEBOOK</apikey>
				<secret>SECRET CODE FOR YOUR FACEBOOK APP</secret>
				<use_fbconnect>1</use_fbconnect>
				<!--
				-->
			</fbconnect>
		</metrof_fbc>

	</default>

    <adminhtml>
        <translate>
            <modules>
                <Mage_Contacts>
                    <files>
                        <default>Metrof_FBConnect.csv</default>
                    </files>
                </Mage_Contacts>
            </modules>
        </translate>

        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <metrof_fbc>
                                            <title>Facebook Connect Section</title>
                                            <sort_order>20</sort_order>
                                        </metrof_fbc>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<fbconnect>
					<file>metrof_fbc.xml</file>
				</fbconnect>
			</updates>
		</layout>
	</adminhtml>
</config>
