<?xml version="1.0"?>
<config>
    <tabs>
        <metrof_fbc>
            <label>Facebook</label>
            <sort_order>200</sort_order>
        </metrof_fbc>
    </tabs>
 
    <sections>
        <metrof_fbc translate="label" module="fbconnect">
            <class>separator-top</class>
            <label>FBConnect</label>
            <tab>metrof_fbc</tab>
            <frontend_type>text</frontend_type>
            <sort_order>75</sort_order>

            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <fbconnect translate="label">
					<label>Facebook Application Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <apikey translate="label">
                            <label>Api Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</apikey>
                        <secret translate="label">
                            <label>App Secret</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</secret>
                    </fields>
                </fbconnect>
			</groups>
		</metrof_fbc>
	</sections>
</config>
