<?xml version="1.0"?>
<config>
    <tabs>
        <metrof_fbc>
            <label>Facebook</label>
            <sort_order>200</sort_order>
        </metrof_fbc>
    </tabs>
 
    <sections>
        <metrof_fbc translate="label" module="fbconnect">
            <class>separator-top</class>
            <label>FBConnect</label>
            <tab>metrof_fbc</tab>
            <frontend_type>text</frontend_type>
            <sort_order>75</sort_order>

            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <fbconnect translate="label" module="fbconnect">
					<label>Facebook Application Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <use_fbconnect translate="label" module="fbconnect">
							<label>Enable Facebook Connect features</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</use_fbconnect>
                        <apikey translate="label" module="fbconnect">
                            <label>API Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</apikey>
                        <secret translate="label">
                            <label>App Secret</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</secret>
                    </fields>
                </fbconnect>
                <fbc_features translate="label" module="fbconnect">
					<label>Facebook Module Features</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <show_login_button translate="label" module="fbconnect">
							<label>Enable Small Login Button</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</show_login_button>
                        <show_share_this translate="label" module="fbconnect">
							<label>Enable 'Share This' Link</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</show_share_this>
                        <show_comments translate="label" module="fbconnect">
							<label>Enable Facebook Comments for Products</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</show_comments>
                    </fields>
				</fbc_features>
				<fbc_stream>
					<label>Facebook Publish Orders</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <show_login_button translate="label" module="fbconnect">
							<label>Caption Text</label>
							<comment>This text must start with {*actor*} and will show up below the customer's comment.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</show_login_button>
					</fields>
				</fbc_stream>
			</groups>
		</metrof_fbc>
	</sections>
</config>
